.marker-base{
  background-size: cover;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.marker-selected {
  border: 2px solid #007bff;
}

.game-icons--f1-car{
  background-image: url('../imgs/game-icons--f1-car.png');
}

.hugeicons--car-03{
  background-image: url('../imgs/hugeicons--car-03.png');
}

.hugeicons--car-04{
  background-image: url('../imgs/hugeicons--car-04.png');
}

.carbon--tank {
  background-image: url('../imgs/carbon--tank.png');  
}

.game-icons--tank {
  background-image: url('../imgs/game-icons--tank.png');
}

.mdi--tank {
  background-image: url('../imgs/mdi--tank.png');  
}

.akar-icons--plane {
  background-image: url('../imgs/akar-icons--plane.png');  
}

.lucide--plane {
  background-image: url('../imgs/lucide--plane.png');  
}

.jam--plane {
  background-image: url('../imgs/jam--plane.png');  
}

