$global_bg_color: #27272a;
$minor_bg_color:  #2c2c30;
$panel_bg_color: #313135;

$primary_bg_color: #a78bfa;
$primary_text_color: #d4d4d8;

$secondary_bg_color: #60a5fa;
$secondary_text_color: #8c8b93;

$hint_text_color: #71717a;

$primary_border_color: #414143;
